<!-- 
      @author l.piciollo
      inizializzazione di barre progressive, utile per indicare all'utento sia il cambio di rotta, che 
      le chiamate di rete in esecuzione. 
 -->
<ngx-ui-loader [loaderId]="'routerLoader'"></ngx-ui-loader>
<ngx-ui-loader [loaderId]="'httpLoader'"></ngx-ui-loader>
<ngx-ui-loader></ngx-ui-loader>

<!-- 
      @author l.piciollo
      inizializzazione del routing space
-->

<!-- <div>
      <list-item [item]="parentItem"
        [connectedDropListsIds]="connectedDropListsIds"
        (itemDrop)="onDragDrop($event)">
      </list-item>
    </div> -->


  <div class=" row p-1" cdkDropListGroup>
    <h2>Gruppi</h2>

    <div class=" item-dropzone  parent col-4" cdkDropList [cdkDropListData]="groupDtoResult.items" (cdkDropListDropped)="drop($any($event))">
        <div *ngFor="let item of groupDtoResult.items" class="example-box" cdkDrag (dblclick)="todo=item">{{item.name}} </div> 
    </div>


    <ul class="item-dropzone parent col-8">
        <li>
            <app-user [user]="todo"></app-user>
        </li>
    </ul>
</div>  

<ngx-org-chart [nodes]="nodes" direction="vertical" ></ngx-org-chart>


<router-outlet></router-outlet>